<!doctype html>
<html lang="fr" ng-app="MyApp">
    <head>
        <meta charset="utf-8">
        <title>DemoApi</title>
        <script src="js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/Controller.js"></script>
        <script src="js/service.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body ng-controller="userCtrl">

        <div name = connection>
            <form ng-submit="createAccount()">
                    Identifiant:<br>
                    <input type="text" ng-model="username" value="" required="required"><br>
                    Mot de passe:<br>
                    <input type="password" ng-model="password" value="" required="required"><br>
                    Vérification du Mot de passe:<br>
                    <input type="password" ng-model="passwordVerif" value="" required="required"><br>
                    <input type="submit" value="Creer">
                    

            </form>
            
        </div>
        
    </body>
</html>